<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hello, Nginx!</title>
</head>
<body style="background-color:#FFFFF0;">
    <h1 align=center>Hello, Nginx!</h1>
    <p align=center>I have configured Nginx web server on Ubuntu Server using Ansible!</p>
    <h2 style="color:#CCCC99" align=center>Ansible</h2>
    <input type="submit" name="submit_button" value="Do Something" align=right>
    <input type="submit" name="submit_button" value="Do Something Else" align=left>
   
    <p> <font color="green"> Server owner is : {{ owner }} </font></p><br>
    <p>Server Host Name : {{ ansible_hostname }} </p><br>
    <p>Server OS Family is : {{ ansible_os_family }}</p><br>
    <p>Server IP Address is : {{ ansible_default_ipv4.address }}</p><br>

</body>
</html>
